<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
      type="text/css"
    />
    <title>Kabita Apps</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
      <nav class="top-nav">
        <h1>Kabita Apps</h1>
        <input id="drawer-toggle" type="checkbox" />
        <label class="drawer-button-container" for="drawer-toggle">
          <div class="drawer-button"></div>
        </label>
        <ul class="menu">
          <li><a href="">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="https://dedelukman.github.io/">About Us</a></li>
        </ul>
      </nav>
    </header>
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Info Tempat Makan yang Instagramable</h1>
        <p class="hero__tagline">
          Dapatkan info terlengkap restoran - restoran terbaik di Indonesia.
        </p>
      </div>
    </div>
    <main id="maincontent">
      <section class="content">
        <div class="restaurant_list">
          <h1 class="restaurant_list__label">Explore Restaurant</h1>
          <div class="restaurants">
            <article class="restaurant-item">
              <div class="restaurant-item__image">
                <img
                  class="restaurant-item__thumbnail"
                  src="https://restaurant-api.dicoding.dev/images/medium/41"
                  alt="Gambar dua orang wanita sedang memegang laptop"
                />
                <div class="restaurant-item__city">Kota. Medan</div>
              </div>

              <div class="restaurant-item__content">
                <p class="restaurant-item__rating">Rating: 4.6</p>
                <h1 class="restaurant-item__title">
                  <a href="#">Bring Your Phone Cafe</a>
                </h1>
                <p class="restaurant-item__description">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                  Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
                  natoque penatibus et magnis dis parturient montes, nascetur
                  ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                  eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
                  pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                  In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
                  justo. Nullam dictum felis eu pede mollis pretium. Integer
                  tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                  vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                  consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                  dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
                  nulla ut metus varius laoreet.
                </p>
              </div>
            </article>
            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/07"
                alt="Github logo"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__date">
                  About 10 Hours Ago By
                  <a href="#" class="restaurant-item__date__author"
                    >Alfian Y Abdullah</a
                  >
                </p>
                <h1 class="restaurant-item__title">
                  <a href="#">Apa itu Rate Limit pada Github API?</a>
                </h1>
                <p class="restaurant-item__description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Aspernatur atque autem culpa laborum odio similique voluptas.
                  A ab animi ducimus earum explicabo hic molestias repudiandae
                  sunt. Consectetur consequuntur dolorum excepturi, fugit, minus
                  nemo non quae quaerat quod recusandae reprehenderit totam,
                  unde. Aliquid autem doloremque impedit quod tempora tenetur
                  totam vero.
                </p>
              </div>
            </article>
            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/29"
                alt="Seorang lelaki sendang memakai filter instagram"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__date">
                  About 10 Hours Ago By
                  <a href="#" class="restaurant-item__date__author"
                    >Aditya Tri Nugroho</a
                  >
                </p>
                <h1 class="restaurant-item__title">
                  <a href="#"
                    >2 Langkah Utama Membuat Filter Kece di Instagram</a
                  >
                </h1>
                <p class="restaurant-item__description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Aspernatur atque autem culpa laborum odio similique voluptas.
                  A ab animi ducimus earum explicabo hic molestias repudiandae
                  sunt. Consectetur consequuntur dolorum excepturi, fugit, minus
                  nemo non quae quaerat quod recusandae reprehenderit totam,
                  unde. Aliquid autem doloremque impedit quod tempora tenetur
                  totam vero.
                </p>
              </div>
            </article>

            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/38"
                alt="Seorang lelaki dengan ekspresi bingung"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__date">
                  About 10 Hours Ago By
                  <a href="#" class="restaurant-item__date__author"
                    >Dimas Catur Wibowo</a
                  >
                </p>
                <h1 class="restaurant-item__title">
                  <a href="#"
                    >Kenapa Anak Sosial Hijrah Belajar Kotlin Android?</a
                  >
                </h1>
                <p class="restaurant-item__description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Aspernatur atque autem culpa laborum odio similique voluptas.
                  A ab animi ducimus earum explicabo hic molestias repudiandae
                  sunt. Consectetur consequuntur dolorum excepturi, fugit, minus
                  nemo non quae quaerat quod recusandae reprehenderit totam,
                  unde. Aliquid autem doloremque impedit quod tempora tenetur
                  totam vero.
                </p>
              </div>
            </article>

            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/40"
                alt="Seorang lelaki memakai baju abu-abu"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__date">
                  About 10 Hours Ago By
                  <a href="#" class="restaurant-item__date__author"
                    >Mutiara Arumsari</a
                  >
                </p>
                <h1 class="restaurant-item__title">
                  <a href="#">Programmer Atau Pro Gamer, Kamu Team Mana?</a>
                </h1>
                <p class="restaurant-item__description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Aspernatur atque autem culpa laborum odio similique voluptas.
                  A ab animi ducimus earum explicabo hic molestias repudiandae
                  sunt. Consectetur consequuntur dolorum excepturi, fugit, minus
                  nemo non quae quaerat quod recusandae reprehenderit totam,
                  unde. Aliquid autem doloremque impedit quod tempora tenetur
                  totam vero.
                </p>
              </div>
            </article>

            <article class="restaurant-item">
              <img
                class="restaurant-item__thumbnail"
                src="https://restaurant-api.dicoding.dev/images/medium/08"
                alt="Seorang wanita di depan komputer sedang pusing"
              />
              <div class="restaurant-item__content">
                <p class="restaurant-item__date">
                  About 10 Hours Ago By
                  <a href="#" class="restaurant-item__date__author"
                    >Mutiara Arumsari</a
                  >
                </p>
                <h1 class="restaurant-item__title">
                  <a href="#">Algoritma Dulu Ngoding Kemudian</a>
                </h1>
                <p class="restaurant-item__description">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Aspernatur atque autem culpa laborum odio similique voluptas.
                  A ab animi ducimus earum explicabo hic molestias repudiandae
                  sunt. Consectetur consequuntur dolorum excepturi, fugit, minus
                  nemo non quae quaerat quod recusandae reprehenderit totam,
                  unde. Aliquid autem doloremque impedit quod tempora tenetur
                  totam vero.
                </p>
              </div>
            </article>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p>Copyright &copy; 2023 - Kabita Apps</p>
    </footer>
  </body>
</html>
