<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="icon" href="./favicon.png" />
    <title>Kabita Apps</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>Kabita Apps</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/explore">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a href="https://dedelukman.github.io/">About Us</a></li>
        </ul>
      </nav>
    </header>
    <main id="maincontent"></main>
    <footer>
      <p>Copyright &copy; 2023 - Kabita Apps</p>
    </footer>
  </body>
</html>
