<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
      type="text/css"
    />
    <title>Kabita Apps</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
      <nav class="top-nav">
        <h1>Kabita Apps</h1>
        <input id="drawer-toggle" type="checkbox" />
        <label class="drawer-button-container" for="drawer-toggle">
          <div class="drawer-button"></div>
        </label>
        <ul class="menu">
          <li><a href="">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="https://dedelukman.github.io/">About Us</a></li>
        </ul>
      </nav>
    </header>
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Info Tempat Makan yang Instagramable</h1>
        <p class="hero__tagline">
          Dapatkan info terlengkap restoran - restoran terbaik di Indonesia.
        </p>
      </div>
    </div>
    <main id="maincontent">
      <section class="content">
        <div class="restaurant_list">
          <h1 class="restaurant_list__label">Explore Restaurant</h1>
          <restaurant-list class="restaurants"></restaurant-list>
        </div>
      </section>
    </main>
    <footer>
      <p>Copyright &copy; 2023 - Kabita Apps</p>
    </footer>
  </body>
</html>
