@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

html,
body {
  margin: 0;
  height: 100%;
}

* {
  font-family: 'Raleway';
  box-sizing: border-box;
}

/*
 * skip content
 */

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  background-color: #222;
  color: white;
  z-index: 100;
}

.skip-link:focus {
  position: relative;
  top: 0;
}

/*
  AppBar
*/

.app-bar {
  background-color: white;
  padding: 8px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(to left, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  padding: 0.5em;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand h1 {
  color: #fff;
  font-size: 22px;
  user-select: none;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 70px;
  left: -100%;
  width: 100%;
  transition: all 0.3s;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: grid;
  text-decoration: none;
  color: #fff;
  padding: 0.8em;
  margin-bottom: 5px;
  width: 100%;
}

/*
 * Jumbotron
 */

.hero {
  display: flex;
  align-items: center;
  min-height: 480px;
  width: 100%;
  text-align: center;
  background-image: url('../public/images/heros/hero-image_2.jpg');
  background-position: center;
  background-color: green;
}

.hero__inner {
  margin: 0 auto;
  max-width: 800px;
}

.hero__title {
  color: #fff;
  text-shadow: 1px 2px #7c7c7c;
  font-weight: 800;
  font-size: 36px;
}

.hero__tagline {
  color: #fff;
  margin-top: 16px;
  font-size: 25px;
  font-weight: 900;
  text-shadow: 1px 2px #7c7c7c;
}

/*
 * main
 */

main {
  width: 100%;
  margin: 0 auto;
}

/*
 * content
 */

.content {
  padding: 32px;
}

/*
 * restaurant_list
 */

.restaurant_list {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

.restaurant_list__label {
  font-size: 32px;
  font-weight: lighter;
}

.restaurant_list__label::after {
  content: '';
  margin-top: 16px;
  display: block;
  border-bottom: 1px solid #eeeeee;
}

/*
 * post
 */

.restaurants {
  margin: 32px auto auto;
  text-align: left;
}

/*
 * post item
 */

.restaurant-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.restaurant-item__content {
  padding: 16px 32px 32px 16px;
}

.restaurant-item__image {
  position: relative;
  text-align: center;
}

.restaurant-item__city {
  padding: 0.8em;
  background-color: black;
  color: white;
  position: absolute;
  top: 12px;
}

.restaurant-item__thumbnail {
  width: 100%;
}

.restaurant-item__rating {
  text-transform: uppercase;
  color: rgb(185, 120, 0);
  padding-left: 0.8em;
  margin: 0;
}

.restaurant-item__title {
  font-weight: 500;
  font-size: 18px;
  transition: 0.3s opacity;
}

.restaurant-item__title:hover {
  opacity: 0.5;
}

.restaurant-item__title a {
  text-decoration: none;
  color: inherit;
  padding: 0.8em;
}

.restaurant-item__description {
  font-size: 14px;
  line-height: 1.5em;
  padding-left: 0.8em;
}

.restaurants {
  display: grid;
  grid-row-gap: 16px;
}

/*
 * footer
 */

footer {
  background: linear-gradient(to left, #f46b45, #eea849);
  padding: 1em;
  width: 100%;
  text-align: center;
}

footer p {
  margin: 0 auto;
  display: inline-block;
  font-size: 17px;
  padding: 0.3em;
  text-decoration: none;
  color: #fff;
}
